.cabinet-btn {
    margin: 40px 0;
    text-align: right;
    display: flex;
    justify-content: right;
}

.cabinet-btn button {
    display: flex;
    align-items: center;
    background-color: #00255C;
    width: 250px;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 14px 22px;
    font-weight: 500;
    font-size: 16px;
    transition: .3s all ease-in-out;
    box-shadow: 3px 3px 10px 3px lightgray;
}

.cabinet-btn button img {
    margin-right: 30px;
    height: 21px;
    width: 24px;
}

.cabinet-btn button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px 4px lightgray;
}

.cabinet-btn button:active {
    transform: scale(1);
}

.news-section h3 {
    color: var(--mainBlueColor);
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-shadow: 1px 1px gray;
}

.news-section .carousel-item {
    border-radius: 8px;
    height: 600px;
}

.news-section .carousel-inner {
    box-shadow: 0 0 10px 0 gray;
    border-radius: 8px;
}

.news-section .carousel-item img {
    border-radius: 8px;
    height: 600px;
    object-fit: cover;
}

.news-section .back-color {
    background-image: linear-gradient(transparent, transparent, #00255C);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.news-section .slider-controller {
    align-items: flex-end;
    margin-bottom: 100px;
}

.carousel-control-next-icon {
    background-image: url("../../img/right-icon.svg");
    width: 19px;
    height: 30px;
}

.carousel-control-prev-icon {
    background-image: url("../../img/right-icon.svg");
    transform: rotate(180deg);
    width: 19px;
    height: 30px;
}

.slider-day {
    font-weight: 400;
    font-size: 52px;
    margin-right: 8px;
}

.slider-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.slider-caption h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    width: 70%;
    text-align: left;
    margin: 16px 0;
}

.more-btn {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    border: 0.5px solid #fff;
    background-color: transparent;
    border-radius: 12px;
    color: #fff;
    padding: 0 48px;
    transition: .3s all ease-in-out;
    display: inline-block;
    height: 40px;
}

.more-btn:hover {
    background-color: var(--hoverBlueColor);
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25);
}

.main-section {
    margin-top: 40px;
}

.main-section h3 {
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    color: var(--hoverBlueColor);
    margin-left: 30px;
}

.card-section {
    margin-top: 12px;
}

.card-section .card-item {
    border-radius: 12px;
    height: 200px;
    margin-top: 16px;
    padding: 35px 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    transition: .3s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-item img {
    height: 60px;
}

.card-section .card-item:hover {
    transform: scale(1.03);
}

.card-section .card-item:active {
    transform: scale(1);
}

.card-item p {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}

.useful-section {
    margin-top: 60px;
}

.useful-section .accordion-button {
    background-color: var(--cardBlueColor);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    border-radius: 0 !important;
    height: 52px;
    padding: 6px 32px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../img/up-icon.svg");
    transform: rotate(0deg);
    margin-left: 16px;
}

.accordion-button::after {
    background-image: url("../../img/up-icon.svg");
    transform: var(--bs-accordion-btn-icon-transform);
    margin-left: 16px;
}

.accordion {
    --bs-accordion-border-color: transparent;
}

.accordion-body {
    padding: 20px 80px 0 80px;
}

.accordion-body a {
    display: flex;
    align-items: center;
    border: 1px solid var(--hoverBlueColor);
    background-color: var(--hoverBlueColor);
    border-radius: 8px;
    padding: 0 16px;
    height: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    color: #fff;
    box-shadow: 2px 4px 4px 0 lightgray;
    transition: .3s all ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion-body a:hover {
    box-shadow: 0 0 8px 0 var(--hoverBlueColor);
    transform: scale(1.05);
    background-image: url("../../img/card-hover.svg");
    color: #000;
}

.accordion-body a:active {
    box-shadow: 0 0 10px 0 var(--cardBlueColor);
    transform: scale(1);
}

.announcement-section {
    margin-top: 88px;
    background-color: var(--lightBlueColor);
    background-image: url("../../img/announcement-back.svg");
    background-position: center;
    height: 360px;
    padding: 20px 0;
}

.announcement-section h3 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 26px;
}

.announcement-cards .card {
    background-color: transparent;
    color: #fff;
    border: none;
}

.announcement-cards .card-body {
    padding: 0;
}

.announcement-cards .card h6 {
    color: var(--hoverBlueColor);
    border-bottom: 2px solid var(--cardBlueColor);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 26px;
}

.announcement-cards .card .card-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 19px;
}

.announcement-cards .card .more-btn {
    border-color: var(--hoverBlueColor);
}

.announcement-cards .card .more-btn:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.owl-dots {
    display: none;
}

.owl-carousel .owl-nav button.owl-next {
    margin-right: -50px !important;
}

.owl-carousel .owl-nav button.owl-prev {
    margin-left: -50px !important;
}

.owl-nav {
    margin: auto;
    color: #fff;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 35%;
    transform: translateY(-50%);
}

.owl-nav button:hover {
    background: transparent !important;
}

.candidate-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.candidate-section h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    background-color: var(--cardBlueColor);
    padding: 6px 32px;
}

.candidates {
    background-color: rgba(0, 148, 200, 0.12);
    padding: 55px 96px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.candidate-item {
    border: 1px solid rgb(0, 37, 92);
    background-color: var(--hoverBlueColor);
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    transition: .3s all ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}

.candidate-item:not(:last-child) {
    margin-bottom: 12px;
}

.candidate-item:hover {
    color: rgba(0, 37, 92, 1);
    background-image: url("../../img/candidate-hover.svg");
    box-shadow: 0 0 10px 1px lightgray;
}

.photo-section {
    background-image: url("../../img/photos-back.svg");
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
    padding: 60px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.photo-title {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin-left: 80px;
    margin-bottom: 30px;
}

.photo-section .owl-carousel .owl-nav button.owl-next {
    margin-right: -30px !important;
}

.photo-section .owl-carousel .owl-nav button.owl-prev {
    margin-left: -50px !important;
    transform: rotate(-180deg);
}

.photo-section .owl-nav {
    top: 50%;
}

.photo-card img {
    height: 340px;
    display: block;
    object-fit: cover;
    border-radius: 12px;
    transition: .3s all ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 4;
}

.photo-img {
    height: 380px;
    padding: 20px 0;
}

.photo-card img:hover {
    transform: scale(1.1);
}

.link-section .owl-nav {
    top: 50%;
}

.link-section-title {
    color: rgba(0, 37, 92, 1);
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 52px;
}

.link-section .owl-carousel .owl-nav button.owl-next {
    margin-right: -30px !important;
    font-size: 50px !important;
    color: var(--mainBlueColor) !important;
}

.link-section .owl-carousel .owl-nav button.owl-prev {
    margin-left: -30px !important;
    font-size: 50px !important;
    color: var(--mainBlueColor) !important;
}

.back-gradient {
    background-image: linear-gradient(transparent, transparent, #0094C8);
    border-radius: 12px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s all ease-in-out;
}

.link-card:hover .back-gradient {
    background-image: none;
    background-color: rgba(0, 148, 200, 0.8);
}

.link-card:hover p {
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
}

.link-section p {
    position: absolute;
    text-align: center;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    transition: .4s all ease-in-out;
}

.link-section img {
    height: 172px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 4px 0 8px 0 gray;
}

@media only screen and (max-width: 1280px) {
    .news-section .carousel-item {
        height: 500px;
    }

    .news-section .carousel-item img {
        height: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    .accordion-body a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px) {
    .cabinet-btn {
        margin: 30px 0;
    }

    .cabinet-btn button {
        width: 200px;
        padding: 10px 18px;
        font-size: 14px;
    }

    .cabinet-btn button img {
        margin-right: 20px;
    }

    .news-section h3 {
        font-size: 35px;
    }

    .news-section .carousel-item {
        height: 400px;
    }

    .news-section .carousel-item img {
        height: 400px;
    }

    .carousel-control-next-icon {
        width: 15px;
        height: 20px;
    }

    .carousel-control-prev-icon {
        width: 15px;
        height: 20px;
    }

    .slider-day {
        font-size: 40px;
        margin-right: 6px;
    }

    .slider-date {
        font-size: 14px;
        line-height: 20px;
    }

    .slider-caption h2 {
        font-size: 20px;
        line-height: 30px;
        width: 90%;
    }

    .more-btn {
        font-size: 20px;
        line-height: 32px;
        padding: 0 40px;
        height: 32px;
    }

    .main-section h3 {
        line-height: 30px;
        font-size: 20px;
        margin-left: 10px;
    }

    .card-section .card-item {
        height: 150px;
    }

    .card-item img {
        height: 40px;
    }

    .card-item p {
        font-size: 14px;
        line-height: 25px;
        padding-top: 10px;
    }

    .useful-section {
        margin-top: 50px;
    }

    .useful-section .accordion-button {
        font-size: 16px;
        height: 42px;
        padding: 6px 20px;
    }

    .accordion-button:not(.collapsed)::after {
        margin-left: 10px;
        transform: scale(0.7);
    }

    .accordion-button::after {
        transform: var(--bs-accordion-btn-icon-transform) scale(0.7);
        margin-left: 10px;
    }

    .accordion-body {
        padding: 20px 20px 0 20px;
    }

    .accordion-body a {
        padding: 0 10px;
        font-size: 13px;
    }

    .announcement-section {
        margin-top: 50px;
        height: 300px;
    }

    .announcement-section h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .announcement-cards .card h6 {
        font-size: 16px;
        line-height: 24px;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .announcement-cards .card .card-text {
        font-size: 18px;
        line-height: 30px;
    }

    .owl-carousel .owl-nav button.owl-next {
        margin-right: -30px !important;
    }

    .owl-carousel .owl-nav button.owl-prev {
        margin-left: -30px !important;
    }

    .candidate-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .candidate-section h3 {
        font-size: 16px;
        line-height: 25px;
        padding: 6px 12px;
    }

    .candidates {
        padding: 25px 30px;
    }

    .photo-section {
        height: 450px;
        margin-bottom: 50px;
        padding: 30px 0;
    }

    .photo-title {
        font-size: 20px;
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .photo-section .owl-carousel .owl-nav button.owl-next {
        margin-right: -10px !important;
        transform: scale(0.7);
    }

    .photo-section .owl-carousel .owl-nav button.owl-prev {
        margin-left: -30px !important;
        transform: rotate(-180deg) scale(0.7);
    }

    .photo-card img {
        height: 300px;
    }

    .photo-img {
        height: 340px;
    }

    .link-section .owl-nav {
        top: 42%;
    }

    .link-section-title {
        font-size: 20px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .cabinet-btn {
        margin: 30px 0 20px 0;
    }

    .news-section h3 {
        font-size: 30px;
    }

    .news-section .carousel-item {
        height: 350px;
    }

    .news-section .carousel-item img {
        height: 350px;
    }

    .main-section h3 {
        font-size: 18px;
    }

    .card-section {
        margin-top: 0;
    }

    .card-section .card-item {
        height: 110px;
        padding: 20px 10px;
    }

    .card-item img {
        height: 25px;
    }

    .card-item p {
        font-size: 11px;
        line-height: 16px;
    }

    .useful-section {
        margin-top: 40px;
    }

    .useful-section .accordion-button {
        font-size: 14px;
        height: 36px;
    }

    .accordion-body {
        padding: 15px 10px 0 10px;
    }

    .accordion-body a {
        padding: 0 5px;
        font-size: 10px;
    }

    .announcement-section {
        margin-top: 40px;
        height: 250px;
    }

    .announcement-section h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .announcement-cards .card h6 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .announcement-cards .card .card-text {
        font-size: 13px;
        line-height: 22px;
    }

    
    .announcement-section  .slider-day {
        font-size: 30px;
    }

    .announcement-section  .slider-date {
        font-size: 10px;
        line-height: 15px;
    }

    .announcement-section .more-btn {
        font-size: 18px;
        padding: 0 30px;
    }

    .owl-carousel .owl-nav button.owl-next {
        margin-right: -20px !important;
    }

    .owl-carousel .owl-nav button.owl-prev {
        margin-left: -20px !important;
    }

    .candidates {
        padding: 15px 20px;
    }

    .candidate-item {
        padding: 8px 12px;
        font-size: 10px;
    }

    .photo-section {
        height: 450px;
        margin-bottom: 50px;
        padding: 30px 0;
    }

    .photo-section .owl-carousel .owl-nav button.owl-next {
        margin-right: -5px !important;
    }

    .photo-section .owl-carousel .owl-nav button.owl-prev {
        margin-left: -25px !important;
    }

    .link-section .owl-carousel .owl-nav button.owl-next {
        margin-right: -20px !important;
    }

    .link-section .owl-carousel .owl-nav button.owl-prev {
        margin-left: -20px !important;
    }
}

@media only screen and (max-width: 576px) {
    .cabinet-btn {
        margin: 20px 0 10px 0;
    }

    .cabinet-btn button {
        width: 150px;
        padding: 8px 10px;
        font-size: 12px;
    }

    .cabinet-btn button img {
        margin-right: 10px;
    }

    .news-section h3 {
        font-size: 24px;
    }

    .news-section .carousel-item {
        height: 250px;
    }

    .news-section .carousel-item img {
        height: 250px;
    }

    .news-section .slider-controller {
        margin-bottom: 60px;
    }

    .slider-day {
        font-size: 22px;
        margin-right: 4px;
    }

    .slider-date {
        font-size: 10px;
        line-height: 11px;
    }

    .slider-caption h2 {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
    }

    .more-btn {
        font-size: 16px;
        line-height: 25px;
        padding: 0 20px;
        height: 25px;
    }

    .main-section h3 {
        font-size: 16px;
    }

    .main-item {
        margin: auto;
    }

    .announcement-section {
        height: 220px;
    }

    .announcement-section h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .announcement-cards {
        width: 90%;
        margin: auto;
    }

    .candidate-item {
        height: auto;
        padding: 8px;
    }

    .photo-section {
        height: 300px;
    }

    .photo-section .photo-title {
        font-size: 16px;
        margin-left: 20px;
    }

    .photo-card img {
        height: 180px;
    }
    
    .photo-img {
        height: 220px;
    }

    .photo-section .owl-carousel .owl-nav button.owl-next {
        margin-right: 5px !important;
        transform: scale(.4);
    }

    .photo-section .owl-carousel .owl-nav button.owl-prev {
        margin-left: -20px !important;
        transform: rotate(-180deg) scale(.4);
    }


    .link-section .owl-carousel .owl-nav button.owl-next {
        margin-right: -15px !important;
    }

    .link-section .owl-carousel .owl-nav button.owl-prev {
        margin-left: -15px !important;
    }
    
    .link-section p {
        font-size: 11px;
        line-height: 16px;
    }
    
    .link-section img {
        height: 110px;
    }
}
